.smart_container {
  margin: 0 15px;
  padding: 35px 15px 15px;
  background-color: var(--black);
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px dashed transparent;
  transition: 0.25s all ease;
}

.smart_container__active {
  border: 2px dashed var(--red);
}

.buttons_toolbar {
  display: flex;
  justify-content: space-between;
}

.button_start_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_start_screen svg {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .smart_container {
    margin: 0;
  }

  .button_start_screen {
    flex-direction: row;
  }

  .button_start_screen svg {
    margin-right: 5px;
    margin-bottom: 0;
  }
}

@keyframes rotate {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}
