.header {
  display: flex;
  gap: 3vw;
  width: 95%;
  min-width: 432px;
  justify-content: space-between;
}

.header_button {
  font-size: 0;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .header {
    gap: 5px;
    justify-content: flex-end;
  }

  .header_button {
    font-size: 0;
    background-color: white;
  }
}
