/*
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}


.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    flex-grow: 1;
}

.top {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    position: relative;
    z-index: 10;
}

.left {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.segmentation {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}
