/*!
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */
/* mobile*/

.app {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.header__logo {
  margin-right: 25px;
}



.header__right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;

}

.fullscreen .header__panels {
  position: absolute;
  left: 75px;
}

.fullscreen .left,
.fullscreen .settings {
  top: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25px;
  top: 100px;
  z-index: 900;
}


.settings {
  display: none;
}

.center div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

}

.bottleft {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 1000;
}

@media screen and (min-width: 768px) {

  .header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    z-index: 1000;
  }

  .settings {
    display: flex;
    flex-direction: column;
    z-index: 800;
    position: absolute;
    right: 25px;
    top: 100px;
    background-color: var(--dark-gray);
    padding: 25px;
    width: 400px;
    opacity: var(--opacity);
    cursor: all-scroll;
    border-radius: 24px;
    transition: opacity 300ms ease-in-out;
  }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }



}
@media screen and (min-width: 1024px) {

  .header__panels  {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .settings {
    display: flex;
    flex-direction: column;
    z-index: 800;
    position: absolute;
    right: 25px;
    top: 100px;
    background-color: var(--dark-gray);
    padding: 25px;
    width: 400px;
    opacity: var(--opacity);
    cursor: all-scroll;
    border-radius: 24px;
    transition: opacity 300ms ease-in-out;
  }


}