/*
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */

.app-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
