/*!
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */

.app {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  top: 30px;
  left: 25px;
  z-index: 1000;
  margin-bottom: 25px;
  width: calc(100% - 50px);
}

.top {
  position: absolute;
  z-index: 1000;
  top: 100px;
  left: 100px;
}

.fullscreen .left,
.fullscreen .top,
.fullscreen .settings {
  top: 25px;
}

.left {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25px;
  top: 100px;
  z-index: 1000;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.settings {
  display: flex;
  flex-direction: column;
  z-index: 1002;
  position: absolute;
  right: 25px;
  top: 100px;
  background-color: var(--dark-gray);
  padding: 25px;
  width: 400px;
  opacity: var(--opacity);
  cursor: all-scroll;
  border-radius: 10px;
  transition: opacity 300ms ease-in-out;
}

.bottleft {
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 1000;
}
