/*
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */

.button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background-color: var(--black);
  padding: 12px 13px;
  color: var(--white);
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.rounded {
  overflow: hidden;
  border-radius: 50%;
}

.button svg {
  fill: var(--white);
}

.button:hover {
  background-color: var(--dark-gray);
}

.button.active {
  color: var(--red);
}

.button.active svg {
  fill: var(--red);
}

.button.light {
  color: var(--black);
  background-color: var(--light);
}

.button.light svg {
  fill: var(--black);
}

.button.light.active {
  color: var(--red);
}

.button.light:hover {
  background-color: var(--light);
  filter: brightness(85%);
}

.button.accent {
  color: var(--white);
  background-color: var(--red);
}

.button.accent svg {
  fill: var(--white);
}

.button.accent:hover {
  background-color: var(--red);
  filter: brightness(85%);
}

.button.accent.active svg {
  fill: var(--black);
}
