html, body {
  margin: 0;
}

header {
  padding: 0;
}

article h1 {
  display: none;
}

h4.name{
  font-weight: bold;
  background-color:#eee;
  padding: 24px;
  margin: 2em -54px 0 -24px;
}

table.params {
  width: 100%;
}

thead tr {
  background-color:#eee;
}

th {
  border-right-color: #ddd;
}

.prettyprint code {
  background-color: #2d2d2d;
  padding: 0;
}
.prettyprint {
  padding: 24px;
  margin: 1em -54px 2em -24px;
  width: inherit;
}
