/*
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */

.container {
  display: inline-flex;
  flex-wrap: wrap;
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
}

.vertical {
  flex-direction: column;
  width: 50px;
}

.vertical:not(:first-child) {
  margin-top: 25px;
}

.horizontal {
  flex-direction: row;
  flex-shrink: 0;
  height: 50px;
  margin: 0 25px 0 0;
}
