/*
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */
.horizontal {
  display: block;
}
/** check!!! */
.container button {
  display: none;
}
.container button > svg #clear {
  display: block;
}

@media screen and (min-width: 768px) {

  .container {
    display: inline-flex;
    flex-wrap: wrap;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
  }

  .vertical {
    flex-direction: column;
    width: 50px;
  }

  .vertical:not(:first-child) {
    margin-top: 25px;
  }

  .container button {
    display: flex;
  }

  .horizontal {
    display: none;
  }

}

@media screen and (min-width: 1024px) {
  .horizontal {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 50px;
    margin: 0 25px 0 0;
  }
}



