

@media screen and (max-width: 768px) {

    .wrapperStyles {
        width: 100%;
        height: 100vh;
        justify-content: center;
        overflow: scroll;
    }

    .canvasStyles {
        display: block;
        width: 150vw;
    }
}

@media screen and (min-width: 768px )  and (max-width: 1024px) {

    .wrapperStyles {
        height: calc(100% - 2.5rem);
        width: calc(100% - 3rem);
        border: 2px solid #dc5e47;
        border-radius: 10px;
    }
    .canvasStyles {
        aspect-ratio: 1 / 1;
    }
}

@media screen and (orientation: landscape) and (min-width: 768px) {

    .wrapperStyles {
        height: calc(100% - 2.5rem);
        width: calc(100%- 3rem);
        border: none;
    }
    .canvasStyles {
        aspect-ratio: 1 / 1;
        border: 2px solid #dc5e47;
        border-radius: 10px;
    }

}


@media screen and (min-width: 1024px) and (orientation: landscape) {

    .wrapperStyles {
        height: calc(100% - 0.5rem);
        aspect-ratio: 1/1;
    }

    .canvasStyles {
        margin: 0 auto;
    }
}

