/*
 * Copyright 2021 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */

.save-file__area {
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0 0 0 5px;
    justify-content: space-between;
    width: 200px
}

.open-file__area {
    height: 50px;
    background: #18191B;
    opacity: .8;
    border-radius: 100px;
    margin: 0 .5em;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0 1em;
    width: calc(100% - 6em);
    color: #636666;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 19px;
    justify-content: space-between;

}

.filename {
    margin-left: .5em;
}


