.files_container {
  margin: 10px 0 0 0;
  background-color: var(--extreme-black);
  font-size: 14px;
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  box-sizing: border-box;
}

.header {
  display: flex;
  margin-bottom: 10px;
  padding-right: 0.5rem;
}

.files {
  display: flex;
}

.left {
  color: var(--dark-gray4);
  margin-right: 20px;
}

.element:not(:first-child) {
  display: none;
}

@media screen and (min-width: 768px) {

  .files_container {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    margin:10px 0 1.1rem 0;
    background-color: var(--extreme-black);
    font-size: 14px;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .element:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
.files_container {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: normal;
  }
}

