/*
 * Copyright 2022 EPAM Systems, Inc. (https://www.epam.com/)
 * SPDX-License-Identifier: Apache-2.0
 */


.save-file__area {
  height: 40px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.save-file__area div {
  margin-right: 10px;
}

.save-file__area div {
  background: inherit;
}

.filename {
  gap: 8px;
}

.open-folder__link,.button.report-menu__report,.button.report-menu__camera  {
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #18191b;
}

.open-file__link, .open-demo__link {
  display: none;
}

 @media screen and (min-width: 768px) {
   .open-file__link, .open-demo__link {
     display: block;
   }
 }